In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [3]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
df.shape

(5000, 14)

In [5]:
ds = df.drop(['ID','ZIP Code'],axis=1)

In [6]:
ds.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [7]:
ds.shape

(5000, 12)

In [8]:
Y = ds['Personal Loan']

In [9]:
ds.columns

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Personal Loan', 'Securities Account', 'CD Account',
       'Online', 'CreditCard'],
      dtype='object')

In [10]:
X = ds[['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities Account', 'CD Account',
       'Online', 'CreditCard']]

In [11]:
import statsmodels.api as sm

In [12]:
X1 = sm.add_constant(X)

//anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [13]:
Logistic = sm.Logit(Y,X1)

In [14]:
result = Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128435
         Iterations 9

In [15]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4988
Method:                           MLE   Df Model:                           11
Date:                Tue, 11 Aug 2020   Pseudo R-squ.:                  0.5938
Time:                        16:02:23   Log-Likelihood:                -642.18
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1928      1.645     -7.411      0.000     -15.417      -8.968
Age                   -0.0536      0.061     -0.874      0.382      -0.174       0.067
Experience             0.0638      0.061      1.046      0.295      -0.056       0.183
Income                 0.0546      0.003     20.831      0.000       0.049       0.060
Family                 0.6958      0.074      9.364      0.000       0.550       0.841
CCAvg                  0.1240      0.040      3.127      0.002       0.046       0.202
Education              1.7362      0.115     15.088      0.000       1.511       1.962
Mortgage               0.0005      0.001      0.856      0.392      -0.001       0.002
Securities Account    -0.9368      0.286     -3.277      0.001      -1.497      -0.377
CD Account             3.8225      0.324     11.800      0.000       3.188       4.457
Online                -0.6752      0.157     -4.298      0.000      -0.983      -0.367
CreditCard            -1.1197      0.205     -5.462      0.000      -1.522      -0.718
======================================================================================
"""

Out of all the input(independent) variables that seem significant, Income, Family, Education, CD Account, Online, Credit Card are the most significant variables that determine whether a person will get a Loan or not.

# Attrition analysis

In [16]:
import numpy as np

In [17]:
ad = pd.read_csv("general_data.csv")

In [18]:
ad.head(3)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3

In [19]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
Age                        4410 non-null int64
Attrition                  4410 non-null object
BusinessTravel             4410 non-null object
Department                 4410 non-null object
DistanceFromHome           4410 non-null int64
Education                  4410 non-null int64
EducationField             4410 non-null object
EmployeeCount              4410 non-null int64
EmployeeID                 4410 non-null int64
Gender                     4410 non-null object
JobLevel                   4410 non-null int64
JobRole                    4410 non-null object
MaritalStatus              4410 non-null object
MonthlyIncome              4410 non-null int64
NumCompaniesWorked         4391 non-null float64
Over18                     4410 non-null object
PercentSalaryHike          4410 non-null int64
StandardHours              4410 non-null int64
StockOptionLevel           4410 non-null int64
TotalWorkingYears          4401 non-null float64
TrainingTimesLastYear      4410 non-null int64
YearsAtCompany             4410 non-null int64
YearsSinceLastPromotion    4410 non-null int64
YearsWithCurrManager       4410 non-null int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

In [20]:
ad.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [21]:
ad['BusinessTravel'].unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [22]:
ad['Department'].unique()

array(['Sales', 'Research & Development', 'Human Resources'], dtype=object)

In [23]:
ad['EducationField'].unique()

array(['Life Sciences', 'Other', 'Medical', 'Marketing',
       'Technical Degree', 'Human Resources'], dtype=object)

In [24]:
ad['JobRole'].unique()

array(['Healthcare Representative', 'Research Scientist',
       'Sales Executive', 'Human Resources', 'Research Director',
       'Laboratory Technician', 'Manufacturing Director',
       'Sales Representative', 'Manager'], dtype=object)

In [25]:
ad['Over18'].unique()

array(['Y'], dtype=object)

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

ad.Attrition= le.fit_transform(ad.Attrition)
ad.Gender = le.fit_transform(ad.Gender)
ad.MaritalStatus = le.fit_transform(ad.MaritalStatus)

In [27]:
dep = pd.get_dummies(ad['Department'], drop_first= True)
ad=pd.concat([ad.drop('Department',axis=1),dep],axis=1)

bt = pd.get_dummies(ad['BusinessTravel'], drop_first= True)
ad=pd.concat([ad.drop('BusinessTravel',axis=1),bt],axis=1)

In [28]:
ad.columns

Index(['Age', 'Attrition', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeID', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked', 'Over18',
       'PercentSalaryHike', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'Research & Development', 'Sales', 'Travel_Frequently',
       'Travel_Rarely'],
      dtype='object')

In [29]:
ad.drop(['EducationField','JobRole','Over18'],axis=1,inplace=True)

In [30]:
ad.head(4)

,Age,Attrition,DistanceFromHome,Education,EmployeeCount,EmployeeID,Gender,JobLevel,MaritalStatus,MonthlyIncome,...,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Research & Development,Sales,Travel_Frequently,Travel_Rarely
0,51,0,6,2,1,1,0,1,1,131160,...,0,1.0,6,1,0,0,0,1,0,1
1,31,1,10,1,1,2,0,1,2,41890,...,1,6.0,3,5,1,4,1,0,1,0
2,32,0,17,4,1,3,1,4,1,193280,...,3,5.0,2,5,0,3,1,0,1,0
3,38,0,2,5,1,4,1,3,1,83210,...,3,13.0,5,8,7,5,1,0,0,0

In [31]:
ad.isna().sum()

Age                         0
Attrition                   0
DistanceFromHome            0
Education                   0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
Research & Development      0
Sales                       0
Travel_Frequently           0
Travel_Rarely               0
dtype: int64

In [32]:
ad.dropna(inplace=True)

In [33]:
ad.isna().sum()

Age                        0
Attrition                  0
DistanceFromHome           0
Education                  0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
Research & Development     0
Sales                      0
Travel_Frequently          0
Travel_Rarely              0
dtype: int64

In [34]:
Z = ad['Attrition']

In [35]:
ad.columns

Index(['Age', 'Attrition', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeID', 'Gender', 'JobLevel', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'Research & Development', 'Sales', 'Travel_Frequently',
       'Travel_Rarely'],
      dtype='object')

In [36]:
W = ad.drop('Attrition',axis=1)

In [37]:
import statsmodels.api as sm

In [38]:
W1 = sm.add_constant(W)

//anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [39]:
Logistic1 = sm.Logit(Z,W1)

In [40]:
ad.dtypes

Age                          int64
Attrition                    int64
DistanceFromHome             int64
Education                    int64
EmployeeCount                int64
EmployeeID                   int64
Gender                       int64
JobLevel                     int64
MaritalStatus                int64
MonthlyIncome                int64
NumCompaniesWorked         float64
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
Research & Development       uint8
Sales                        uint8
Travel_Frequently            uint8
Travel_Rarely                uint8
dtype: object

In [41]:
result1 = Logistic1.fit()

Optimization terminated successfully.
         Current function value: 0.384640
         Iterations 7

In [42]:
result1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4382
Model:                          Logit   Df Residuals:                     4361
Method:                           MLE   Df Model:                           20
Date:                Tue, 11 Aug 2020   Pseudo R-squ.:                  0.1281
Time:                        16:03:46   Log-Likelihood:                -1685.5
converged:                       True   LL-Null:                       -1933.1
Covariance Type:            nonrobust   LLR p-value:                 3.047e-92
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Age                        -0.0321      0.007     -4.628      0.000      -0.046      -0.019
DistanceFromHome           -0.0010      0.005     -0.183      0.855      -0.012       0.010
Education                  -0.0652      0.043     -1.512      0.131      -0.150       0.019
EmployeeCount              -0.0079   3.79e+06  -2.07e-09      1.000   -7.44e+06    7.44e+06
EmployeeID              -1.288e-05   3.45e-05     -0.373      0.709   -8.05e-05    5.48e-05
Gender                      0.1119      0.091      1.234      0.217      -0.066       0.290
JobLevel                   -0.0335      0.041     -0.827      0.408      -0.113       0.046
MaritalStatus               0.5921      0.064      9.241      0.000       0.467       0.718
MonthlyIncome           -1.063e-06   9.62e-07     -1.105      0.269   -2.95e-06    8.23e-07
NumCompaniesWorked          0.1353      0.019      7.196      0.000       0.098       0.172
PercentSalaryHike           0.0189      0.012      1.584      0.113      -0.004       0.042
StandardHours              -0.0628   4.74e+05  -1.33e-07      1.000    -9.3e+05     9.3e+05
StockOptionLevel           -0.0738      0.052     -1.413      0.158      -0.176       0.029
TotalWorkingYears          -0.0614      0.012     -5.033      0.000      -0.085      -0.037
TrainingTimesLastYear      -0.1322      0.036     -3.695      0.000      -0.202      -0.062
YearsAtCompany              0.0149      0.019      0.793      0.428      -0.022       0.052
YearsSinceLastPromotion     0.1293      0.021      6.257      0.000       0.089       0.170
YearsWithCurrManager       -0.1368      0.023     -6.030      0.000      -0.181      -0.092
Research & Development     -0.7851      0.183     -4.297      0.000      -1.143      -0.427
Sales                      -0.9078      0.191     -4.746      0.000      -1.283      -0.533
Travel_Frequently           1.4595      0.202      7.229      0.000       1.064       1.855
Travel_Rarely               0.7306      0.190      3.854      0.000       0.359       1.102
===========================================================================================
"""

Out of all the input(independent) variables, Age, Marital Status, TotalWorkingYears, TrainingTimesLastYear, YearsSinceLastPromotion, YearsWithCurrManager, Department, BusinessTravel are the most significant variables that determine whether a person will get attrition or not.