In [1]:
#Assuming that we have some email addresses in the "username@companyname.com" format,
#please write program to print the company name of a given email address.
#Both user names and company names are composed of letters only.
#Input Format:
#The first line of the input contains an email address. Output Format:
#Print the company name in single line.
#Example;
#Input:
#john@google.com
#Output:
#google

In [8]:
print('Enter the email')
e = str(input())
e = e.split('@')
o = e[1].split('.')
print('Output:', o[0])

Enter the email
john@google.com
Output: google

In [9]:
#Write a program that accepts a comma-separated sequence of words as input 
#and prints the words in a comma separated sequence after sorting them alphabetically.

#Input Format:
#The first line of input contains words separated by the comma. 
#Output Format:
#Print the sorted words separated by the comma.
#Example:
#Input:
#without,hello,bag,world
#Output:
#bag,hello,without,world

In [15]:
items=[x for x in input("enter input : ").split(',')]
items.sort()
print ("Output :",','.join(items))

enter input : without,hello,bag,world
Output : bag,hello,without,world

In [16]:
#Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number.
#There are no duplicates.

#Input Format:
#The first line contains n-1 numbers with each number separated by a space. 
#Output Format:
#Print the missing number

#Example:
#Input:1 2 4 6 3 7 8
#Output:5
#Explanation:
#In the above list of numbers 5 is missing and hence 5 is the input

In [21]:
l =[1,2,4,6,3,7,8,5,10,11]
l.sort()
for i in range(1,max(l)):
    if i not in l:
        print(i)

9

In [22]:
#With a given list L, write a program to print this list L 
#after removing all duplicate values with original order reserved.

#Example:
#If the input list is
#12 24 35 24 88 120 155 88 120 155
#Then the output should be 12 24 35 88 120 155

#Explanation:
#Third, seventh and ninth element of the list L has been removed because it was already present. Input Format:
#In one line take the elements of the list L with each element separated by a space.

#Output Format:
#Print the elements of the modified list in one line with each element separated by a space. Example:

#Input: 12 24 35 24
#Output:
#12 24 35

In [54]:
L = [12,24,35,24,88,120,155,88,120,155]
O = list(set(L))
O.sort()
print(O)

[12, 24, 35, 88, 120, 155]