In [13]:
import pandas as pd 
import numpy as np 
from sklearn import tree
from sklearn import preprocessing

In [14]:
titanic_train = pd.read_csv("train.csv")

In [15]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [16]:
titanic_train.shape

(889, 12)

In [22]:
titanic_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [23]:
label_encoder = preprocessing.LabelEncoder()

In [24]:
encoded_sex = label_encoder.fit_transform(titanic_train['Sex'])

In [26]:
predictors = pd.DataFrame([encoded_sex,titanic_train['Age'],titanic_train['Fare']]).T

In [27]:
tree_model = tree.DecisionTreeClassifier(max_depth=6)

In [28]:
tree_model.fit(X=predictors,y=titanic_train['Survived'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=6,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [29]:
with open("DTree3.dot",'w') as f: 
    f = tree.export_graphviz(tree_model,feature_names=['Sex','Age','Fare'],out_file=f)

In [30]:
tree_model.score(X=predictors,y=titanic_train['Survived'])

0.829021372328459

In [31]:
titanic_test = pd.read_csv("test.csv")

In [32]:
titanic_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,S

In [33]:
titanic_test.shape

(417, 10)

In [34]:
titanic_test.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [35]:
encoded_sex_test = label_encoder.fit_transform(titanic_test['Sex'])

In [36]:
test_features = pd.DataFrame([encoded_sex_test,titanic_test['Age'],titanic_test['Fare']]).T

In [37]:
test_preds = tree_model.predict(X=test_features)

In [38]:
predicted_output = pd.DataFrame({"PassengerId":titanic_test['PassengerId'],"Survived":test_preds})

In [39]:
predicted_output.to_csv("Titanic Output.csv",index=False)