In [1]:
import pandas as pd 
import numpy as np 
from sklearn import tree
from sklearn import preprocessing

In [3]:
at = pd.read_csv("general_data.csv")

In [4]:
at.head(3)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3

In [5]:
at.shape

(4410, 24)

In [6]:
from sklearn.ensemble import RandomForestClassifier

In [7]:
at.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [8]:
at.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [29]:
at.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
Age                        4410 non-null int64
Attrition                  4410 non-null object
BusinessTravel             4410 non-null object
Department                 4410 non-null object
DistanceFromHome           4410 non-null int64
Education                  4410 non-null int64
EducationField             4410 non-null object
EmployeeCount              4410 non-null int64
EmployeeID                 4410 non-null int64
Gender                     4410 non-null object
JobLevel                   4410 non-null int64
JobRole                    4410 non-null object
MaritalStatus              4410 non-null object
MonthlyIncome              4410 non-null int64
NumCompaniesWorked         4391 non-null float64
Over18                     4410 non-null object
PercentSalaryHike          4410 non-null int64
StandardHours              4410 non-null int64
StockOptionLevel           4410 non-null int64
TotalWorkingYears          4401 non-null float64
TrainingTimesLastYear      4410 non-null int64
YearsAtCompany             4410 non-null int64
YearsSinceLastPromotion    4410 non-null int64
YearsWithCurrManager       4410 non-null int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

In [30]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

at.Attrition= le.fit_transform(at.Attrition)
at.Gender = le.fit_transform(at.Gender)
at.MaritalStatus = le.fit_transform(at.MaritalStatus)
at.BusinessTravel = le.fit_transform(at.BusinessTravel)
at.Department = le.fit_transform(at.Department)
at.EducationField = le.fit_transform(at.EducationField)
at.JobRole = le.fit_transform(at.JobRole)

In [31]:
at.dropna(inplace=True)

In [32]:
at.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [33]:
at.drop(['EmployeeCount','StandardHours','Over18'],axis=1,inplace=True)

In [34]:
at.shape

(4382, 21)

In [16]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [35]:
features = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [36]:
rf_model.fit(X=at[features],y=at['Attrition'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [37]:
print("OOB Accuracy : ", rf_model.oob_score_)

OOB Accuracy :  1.0

In [38]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.09363120434043391
BusinessTravel 0.02697593858363536
Department 0.024858650557440957
DistanceFromHome 0.06785926705864342
Education 0.03908691021265213
EducationField 0.039264032363678696
EmployeeID 0.03572544369713358
Gender 0.017819015244610412
JobLevel 0.035393031686919964
JobRole 0.05335790294954232
MaritalStatus 0.03767650811816004
MonthlyIncome 0.0918134512108726
NumCompaniesWorked 0.05322222707919574
PercentSalaryHike 0.06267917544646698
StockOptionLevel 0.03256425199201495
TotalWorkingYears 0.08471745938165742
TrainingTimesLastYear 0.04330232786066066
YearsAtCompany 0.06562348042105978
YearsSinceLastPromotion 0.04147903127480919
YearsWithCurrManager 0.052950690520411764

In [39]:
predictors = pd.DataFrame([at['Age'],at['DistanceFromHome'],at['MonthlyIncome'],at['PercentSalaryHike'],at['TotalWorkingYears'],at['YearsAtCompany']]).T

In [40]:
tree_model = tree.DecisionTreeClassifier(max_depth=12)

In [41]:
tree_model.fit(X=predictors,y=at['Attrition'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=12,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [42]:
with open("Attrition DTree.dot",'w') as f: 
    f = tree.export_graphviz(tree_model,feature_names=['Age','DistanceFromHome','MonthlyIncome','PercentSalaryHike','TotalWorkingYears','YearsAtCompany'],out_file=f)

In [43]:
tree_model.score(X=predictors,y=at['Attrition'])

0.9422638064810589